body{
    font-family: 'Muli', sans-serif;
    outline: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.container_adjust{
    min-height: 100%;
    width: 100%;
    padding: 0;
}

.title{
    font-size: 5vw;
    text-align: center;
    color: #F97e7e;
    margin-top: 5vw;
    margin-bottom: 10vw;
}

.send_button,
.send_button:active,
.send_button:hover{
    background-color: transparent;
    border: 1px solid #f97e7e;
    color: #f97e7e;
    font-size: 3vw;
    float: right;
    outline: none;
    padding: 1%;
}

.send_button:hover{
    background-color: #f97e7e;
    color: white;
}

.send_button:first-child{
    margin-left: 3vw;
}

.bg_adjust{
    padding: 0;
    position: absolute;
    height: 100%;
}

.adjust_width{
    padding-left: 10vw;
    padding-right: 10vw;
}

.home_pic{
    height: 100%;
    width: 100%;
    filter: blur(7px);
    opacity: 0.4
}
